rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default-deny safety net
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow user study progress tracking public documents
    match /acca_trackers/{userId} {
      allow read, write: if true;
    }
  }
}
